.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

h1 {
    margin-bottom: 0.6em;
}

h2 {
    margin-bottom: 0.4em;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.labs {
    padding: 30px;
}